*{
    box-sizing: border-box;

}
.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qr_code_img{
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-lable{
    display: block;
    margin-bottom: 12px;
    color: #3498db;
    font-weight: 500;
}
input[type="text"]{
    padding: 12px;
    margin-bottom: 20px;
    width: 20%;
    font-size: 16px;
    border: 2px solid #3498db ;
    border-radius: 5px;
}

button{
    display: inline;
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gen{
    background-color: #3498db;
}

.gen:disabled{
    background-color: white;
    cursor: not-allowed;
}
.don{
    background-color: #27ae60;
    margin-left: 10px;
}
.don:hover{
    background-color: #219a52;
}

/* Add these styles to your Qr.css file */

.gen {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .gen:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .don {
    background-color: #008CBA; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .don:hover {
    background-color: #007bb5; /* Darker blue on hover */
  }
  
  .record-button {
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .record-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
  }
  
  .stop-button {
    background-color: #ff9800; /* Orange background */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .stop-button:hover {
    background-color: #fb8c00; /* Darker orange on hover */
  }
  
  